<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:fragment="header">
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index">Główna</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active' : ''}">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active' : ''}">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                        <li class="nav-item"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/pacjenci' ? 'active' : ''}"
                            th:if="${#authorization.expression('isAuthenticated()')}">
                            <a class="nav-link" href="pacjenci">
                                <span aria-hidden="true"></span>
                                Pacjenci
                            </a>
                        </li>
                        <li class="nav-item"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/lekarze' ? 'active' : ''}"
                            th:if="${#authorization.expression('isAuthenticated()')}">
                            <a class="nav-link" href="lekarze">
                                <span aria-hidden="true"></span>
                                Lekarze
                            </a>
                        </li>
                        <li class="nav-item"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/wizyty' ? 'active' : ''}"
                            th:if="${#authorization.expression('isAuthenticated()')}">
                            <a class="nav-link" href="wizyty">
                                <span aria-hidden="true"></span>
                                Wizyty
                            </a>
                        </li>
                        <li class="nav-item"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active' : ''}"
                            th:if="${#authorization.expression('!isAuthenticated()')}">
                            <a class="nav-link" href="login" th:href="@{/login}">
                                <span aria-hidden="true"></span>
                                Login
                            </a>
                        </li>
                        <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                            <form th:action="@{/logout}" method="post">
                                <a class="nav-link">
                                    <span aria-hidden="true"></span>
                                    <input style="background-color:transparent;border:transparent;color:rgba(255,255,255,0.5);padding:0;cursor: pointer;"
                                           type="submit" value="Logout"/>
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</head>
<body>

</body>
</html>