<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:insert="~{fragments/head :: head}"/>
</head>

<body>

<!-- Navigation -->
<div th:insert="~{fragments/header :: header}"/>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Lekarze
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">Home</a>
        </li>
        <li class="breadcrumb-item active">Lekarze</li>
    </ol>

    <!-- Page Content -->
    <div class="container">
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Lekarze</h3>
                <form th:action="@{/save1}" method="post">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Imię:</label>
                            <input type="text" class="form-control"  th:field="${lekarz.name}">
                            <span th:errors="${lekarz.name}"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nazwisko:</label>
                            <input type="text" class="form-control" th:field="${lekarz.lastName}">
                            <span th:errors="${lekarz.lastName}"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Specializacja:</label>
                            <input type="text" class="form-control" th:field="${lekarz.specialization}" >
                            <span th:errors="${lekarz.specialization}"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
                <br>
                <h3>Lista lekarzy</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Specializacja</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<th:block>-->
                    <tr  th:each="lekarze1 : ${lekarzee}">
                        <td th:text="${lekarze1.name}">Name</td>
                        <td th:text="${lekarze1.lastName}">Last Name</td>
                        <td th:text="${lekarze1.specialization}">Specializacja</td>
                        <td> <a th:href="@{'lekarz/{id}'(id=${lekarze1.id})}" class="delete" >
                            <button type="button" class="btn btn-default btn-sm">
                                Delete
                            </button>
                        </a>
                        </td>
                    </tr>

                    <!--</th:block>-->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- Footer -->
<div th:insert="~{fragments/footer :: footer}"/>
</body>

</html>
