<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:insert="~{fragments/head :: head}"/>
</head>

<body>

<!-- Navigation -->
<div th:insert="~{fragments/header :: header}"/>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Pacjenci
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">Home</a>
        </li>
        <li class="breadcrumb-item active">Pacjenci</li>
    </ol>

    <!-- Page Content -->
    <form th:action="@{/save}" method="post">
    <div class="container">
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Pacjenci</h3>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Imię:</label>
                            <input type="text" class="form-control"  th:field="${pacjent.name}">
                            <span th:errors="*{pacjent.name}">Name Error</span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nazwisko:</label>
                            <input type="text" class="form-control" th:field="${pacjent.lastName}">
                            <span th:errors="${pacjent.lastName}"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Pesel:</label>
                            <input type="text" class="form-control" th:field="${pacjent.pesel}" >
                            <span th:errors="${pacjent.pesel}"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Dodaj</button>

                <br>
                <h3>Lista pacjentów</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Pesel</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<th:block>-->
                    <tr  th:each="pacjenci1 : ${pacjencii}">
                        <td th:text="${pacjenci1.name}">Name</td>
                        <td th:text="${pacjenci1.lastName}">Faculty</td>
                        <td th:text="${pacjenci1.pesel}">Type</td>
                        <td> <a th:href="@{'pacjentd/{id}'(id=${pacjenci1.id})}" class="delete" >
                            <button type="button" class="btn btn-default btn-sm">
                                Delete
                            </button>
                        </a>
                        </td>
                    </tr>

                    <!--</th:block>-->

                    </tbody>
                </table>

            </div>

        </div>
    </div>
    </form>
    <!-- /.container -->
</div>
<!-- Footer -->
<div th:insert="~{fragments/footer :: footer}"/>
</body>

</html>
