<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:insert="~{fragments/head :: head}"/>
</head>

<body>

<!-- Navigation -->
<div th:insert="~{fragments/header :: header}"/>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Wizyty
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">Home</a>
        </li>
        <li class="breadcrumb-item active">Wizyty</li>
    </ol>

    <!-- Page Content -->
    <div class="container">
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Wizyty</h3>
                <form th:action="@{/save2}" method="post">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Pacjent Pesel:</label>
                            <select class="form-control" th:field="${wizyta.pacjent}">
                                <option th:each=" pacjent1 :${pacjenci}"
                                        th:value="${pacjent1.id}"
                                        th:text="${pacjent1.pesel}">
                                </option>
                            </select>
                            <!-- <input type="text" class="form-control"  th:field="${wizyta.pacjent.pesel}">
                            <span th:errors="${wizyta.pacjent.pesel}"></span> -->
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Lekarz specializacja:</label>
                            <select class="form-control" th:field="${wizyta.lekarz}">
                                <option th:each=" lekarz :${lekarze}"
                                        th:value="${lekarz.id}"
                                        th:text="${lekarz.specialization}">
                                </option>
                            </select>
                            <!-- <input type="text" class="form-control" th:field="${wizyta.lekarz.specialization}">
                            <span th:errors="${wizyta.lekarz.specialization}"></span> -->
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Data wizyty:</label>
                            <input type="text" placeholder="yyyy-mm-dd" class="form-control" th:field="${wizyta.data}" >
                            <span th:errors="${wizyta.data}"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Choroba:</label>
                            <input type="text" class="form-control" th:field="${wizyta.choroba}" >
                            <span th:errors="${wizyta.choroba}"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Recepta:</label>
                            <input type="text" class="form-control" th:field="${wizyta.recepta}" >
                            <span th:errors="${wizyta.recepta}"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
                <br>
                <h3>Lista wizyt</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Pacjet pesel</th>
                        <th>Lekarz specjalizacja</th>
                        <th>Data wizyty</th>
                        <th>Choroba</th>
                        <th>Recepta</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<th:block>-->
                    <tr  th:each="wizyty1 : ${wizytyy}">
                        <td th:text="${wizyty1.pacjent.pesel}">Pacjet pesel</td>
                        <td th:text="${wizyty1.lekarz.specialization}">Lekarz specjalizacjae</td>
                        <td th:text="${wizyty1.data}">Data wizyty</td>
                        <td th:text="${wizyty1.choroba}">Chroba</td>
                        <td th:text="${wizyty1.recepta}">Receota</td>
                        <td> <a th:href="@{'wizyta/{id}'(id=${wizyty1.id})}" class="delete" >
                            <button type="button" class="btn btn-default btn-sm">
                                Delete
                            </button>
                        </a>
                        </td>
                    </tr>

                    <!--</th:block>-->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- Footer -->
<div th:insert="~{fragments/footer :: footer}"/>
</body>

</html>
